{% extends 'base.html' %}
{% block title %}{{ task.title }} - LingoFlow{% endblock %}

{% block content %}
    <section class="topic-container" style="margin-top: 200px; margin-bottom: 150px;">
        <div class="topic-header">
            <h2>{{ task.title }}</h2>
            <p class="explanation">{{ task.question }}</p>
        </div>

        <div class="task-list">
            <div id="task-container"></div>
        </div>
    </section>

    <script>
        const task = {{ task_json|safe }};
        window.task = task

        {% if next_task_id %}
            window.nextTaskId = {{ next_task_id }};
            window.nextTaskUrl = "{% url 'courses:task_detail' next_task_id %}";
        {% else %}
            window.nextTaskId = null;
            {% if next_topic_id %}
                window.nextTopicId = {{ next_topic_id }};
                window.nextTopicUrl = "{% url 'courses:selected_topic' next_topic_id %}"
            {% else %}
                window.nextTopicId = null;
                window.nextTopicUrl = null;
                window.courses = "{% url 'courses:all_courses' %}"
            {% endif %}
        {% endif %}
    </script>

{% endblock %}